<%- include("partials/header") -%>

    <body style="background-image: url(/bgorder.png);">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: right; text-shadow: 3px 3px black;">
                <a href="/" style="color: white; font-size: 50px"><i class="bi bi-house-fill"></i></a>
            </div>

            <h1 class="fontOrder">Order lists: </h1>


            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center; background-color: gray;">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>

            <!-- รายการ -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: gray;">
                <h3 class="fontOrder">1 </h3>
                <h3 class="fontOrder">A </h3>
                <h3 class="fontOrder">B </h3>
                <h3 class="fontOrder">C </h3>
            </div>

            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>

            <!-- รายการ -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">2 </h3>
                <h3 class="fontOrder">A </h3>
                <h3 class="fontOrder">B </h3>
                <h3 class="fontOrder">C </h3>
            </div>

            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center; background-color: gray;">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>

            <!-- รายการ -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: gray;">
                <h3 class="fontOrder">3 </h3>
                <h3 class="fontOrder">A </h3>
                <h3 class="fontOrder">B </h3>
                <h3 class="fontOrder">C </h3>
            </div>

            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>

            <!-- รายการ -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">4 </h3>
                <h3 class="fontOrder">A </h3>
                <h3 class="fontOrder">B </h3>
                <h3 class="fontOrder">C </h3>
            </div>
            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center; background-color: gray;">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>

            <!-- รายการ -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: gray;">
                <h3 class="fontOrder">5 </h3>
                <h3 class="fontOrder">A </h3>
                <h3 class="fontOrder">B </h3>
                <h3 class="fontOrder">C </h3>
            </div>
            <!-- Title -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">Number: </h3>
                <h3 class="fontOrder">Detail: </h3>
                <h3 class="fontOrder">Status: </h3>
                <h3 class="fontOrder">Date: </h3>
            </div>

            <!-- รายการ -->
            <div class="col-lg-6 col-md-6 col-sm-6 order-column" style="text-align: center;background-color: rgb(53, 53, 53);">
                <h3 class="fontOrder">6 </h3>
                <h3 class="fontOrder">A </h3>
                <h3 class="fontOrder">B </h3>
                <h3 class="fontOrder">C </h3>
            </div>

        </div>



        <%- include("partials/footer") -%>
    </body>